.splashScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background: black;
}

.oilContainer {
  display: flex;
  gap: 10px;
}

.oilDrip {
  width: 20px;
  height: 40px;
  background: linear-gradient(to bottom, #f6e610, #f4b116, #c0ba12);
  border-radius: 50%;
  animation: drip 1.2s infinite ease-in-out;
}

.oilDrip:nth-child(2) {
  animation-delay: 0.2s;
}

.oilDrip:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes drip {
  0% {
    transform: translateY(-20px) scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(20px) scale(1);
    opacity: 0;
  }
}
.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 9999;
  overflow: hidden;
  flex-direction: column;
}

/* Radiating waves from the logo */
.radiatingWaves {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgb(7, 162, 65);
  animation: radiate 2s infinite;
  z-index: 5;
}

/* Keyframe for the radiating wave effect */
@keyframes radiate {
  0% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0.2;
  }
}

/* Container for the logo */
.logoContainer {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinning logo */
.spinningLogo {
  width: 200px;
  height: 200px;
  animation: spinLogo 3s linear infinite;
}

/* Keyframe for logo spinning animation */
@keyframes spinLogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}