.contactContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 3rem;
  height: fit-content;
 z-index: 2;
 background-color: white;
}

.contactInfo {
  flex: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  background-color:#07a241;
  color: white;
  border-radius: 40px;


  // background-color: aqua;
  h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
}

.mapContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yandexMap {
  width: 100%;
  // height: 400px; /* Set the desired height for the map */

}


  .themotiontext{
    border: 3px solid rgb(0, 196, 0);
    border-radius: 10px;
    background-color: aliceblue;
    z-index: 2;
  }


  @media (max-width: 730px) {
    
    .contactContainer{
      display: flex;
      flex-direction: column;
    }
    .contactInfo {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 40px 50px;
      background-color:#07a241;
      color: white;
      border-radius: 40px;
    
    
      // background-color: aqua;
      h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
    
      p {
        font-size: 1.8rem;
        margin: 0.5rem 0;
      }
    }
}

.social {
  display: flex;
  gap: 15px;
  align-items: center;
  
  a {
    font-size: 35px;
    transition: color 0.3s ease;
    
    &:hover {
      color: rgba(7, 162, 65, 0.79);
    }
  }
}