@import "/public/css/variables.module.scss";

.wideAd {
  position: relative;
  height: 210px;
  flex-grow: 1;
  font-size: 1.6rem;
  padding-left: 30px;
//   border: 1px solid rgb(191, 191, 191);
  border-radius: 14px;
  background-color: white;

  span,
  h3,
  a {
    position: relative;
    z-index: 5;
    color: black;
  }

  span {
    z-index: 1;
    margin-top: 40px;
    display: block;
    line-height: 0;
    font-size: 1.4rem;
    color: black;
  }

  h3 {
    z-index: 1;
    font-size: 1.3rem;
    font-weight: 500;
    display: block;
    margin: 18px 0 70px;
    color: black;
  }

  img {
    // z-index: 1;
    position: absolute;
    border-radius: 12px;
    margin-left: 15%;
    object-fit: cover;
    margin-top: -110px;
  }
}


.darkText {
  span,
  h3,
  a {
    font-weight: 400;
    color: nth($color-light, 10);
  }
}

.lightText {
  span,
  h3,
  a {
    color: nth($color-light, 1);
  }
}

@media (max-width: 768px) {
  .wideAd {
    font-size: 1rem;
    h3 {
      margin-bottom: 70px;
      font-size: 1rem;
    }
      img {
    // z-index: 1;
    position: absolute;
    border-radius: 12px;
    margin-left: 8%;
    object-fit: cover;
    margin-top: -95px;
  }
  }
}

@media (max-width: 768px) {
  .wideAd {
    height: 160px;
    span {
      margin-top: 30px;
    }
    h3 {
      margin-bottom: 40px;
      font-size: 1rem;
    }
  }
}