.productCard {
  position: relative;
  background-color: #eeeeee;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 280px;
  border-radius: 20px;
  margin: 16px;
  cursor: pointer;
  transition: 0.6s ease;
  
  &:hover {
    transform: translateY(-5px);
    // box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
  }

  &.staticWidth {
    width: 250px;
  }
  
  .imageWrapper {
    position: relative;
    width: 100%;
    height: 200px; // Adjust based on your design
    overflow: hidden;
    border-bottom: 2px solid #f4f4f4;

   
    
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .textwrapper {
    width: 100%;
  //  height: 100%;
 
    padding: 26px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #333;
    transition: 0.3s ease;
   


  }

  .textwrapper:hover {
    padding: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #333;
    background-color: #07a241;
    transform: scale(1.3);

  }

  .title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    z-index: 99;
  }

  .specWrapper {
    margin-top: 8px;
    font-size: 0.9rem;
    color: #777;
  }

  .outOfStock {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
    
    span {
      color: #f8d03c;
    }
  }
}
