// styles/Contact.module.scss
$primary-color: #131313;
$hover-color: lighten($primary-color, 10%);

.contactContainer {
  // padding: 2rem;
  // text-align: center;
  // max-width: 600px;
  // margin: auto;
  margin-top: 150px;

  .title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: $primary-color;
  }

  .infoContainer {
    margin-bottom: 2rem;
    line-height: 30px;
    font-size: 1.5rem;

    .contactDetails {
      background: #f9f9f9;
      border-radius: 8px;
      padding: 1.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 1.5rem;
    }
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input, textarea {
      padding: 1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      transition: border-color 0.3s;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    button {
      padding: 1rem;
      background: $primary-color;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: $hover-color;
      }
    }
  }
  h2{
    font-size: 2rem;
  }

  .successMessage {
    margin-top: 1rem;
    color: green;
    animation: fadeIn 0.5s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
.errorMessage {
    margin-top: 1rem;
    color: red;
    animation: fadeIn 0.5s;
  }
  