.serviceSection {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-wrap: wrap;
  
  @media (min-width: 768px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .servicesBgImage {
    position: absolute;
    width: 100%;
    border-radius: 45px;
    bottom: 0;
    left: 0;
  }

  .serviceContent {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.aboutMeSection {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .aboutMeContainer {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 640px) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    .aboutMeGrid {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 1.5rem;
      margin-top: 2.5rem;
    }

    .aboutMeImage {
      grid-column: span 12 / span 12;

      @media (min-width: 1024px) {
        grid-column: span 6 / span 6;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .aboutMeContent {
      grid-column: span 12 / span 12;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: flex-start;
      justify-content: center;

      @media (min-width: 1024px) {
        grid-column: span 6 / span 6;
      }

      h1 {
        position: relative;
        color: #000;
        font-size: 2.25rem;

        @media (min-width: 640px) {
          font-size: 3rem;
        }
      }

      .decorativeLine {
        display: flex;
        margin-top: 0.5rem;

        .lineContainer {
          position: relative;
          margin-left: 6rem;
          width: 0.75rem;
          height: 0.75rem;
          border: 1px solid #000;
          border-radius: 50%;

          &::before, &::after {
            content: "";
            position: absolute;
            height: 0.125rem;
            top: 0.25rem;
            background-color: #000;
          }

          &::before {
            width: 4rem;
            right: 1.25rem;
          }

          &::after {
            width: 4rem;
            left: 1.25rem;
          }
        }
      }

      p {
        color: #000;
        margin-top: 1.25rem;
        font-size: 0.875rem;

        @media (min-width: 640px) {
          font-size: 1rem;
        }
      }

      .resumeButtonContainer {
        position: relative;
        display: block;
        margin-top: 2rem;
      }
    }
  }
}

.myJourneySection {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .journeyHeading {
    position: relative;
    text-align: center;
    font-size: 3rem;

    .decorativeLineCenter {
      display: flex;
      justify-content: center;
      margin-top: 0.5rem;
      margin-bottom: 3.5rem;

      .lineContainer {
        position: relative;
        width: 0.75rem;
        height: 0.75rem;
        border: 1px solid #000;
        border-radius: 50%;

        &::before, &::after {
          content: "";
          position: absolute;
          height: 0.125rem;
          top: 0.25rem;
          background-color: #000;
        }

        &::before {
          width: 4rem;
          right: 1.25rem;
        }

        &::after {
          width: 4rem;
          left: 1.25rem;
        }
      }
    }
  }

  .journeyGrid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    @media (min-width: 768px) {
      margin-left: 5rem;
      margin-right: 5rem;
    }

    .journeyCard {
      grid-column: span 12 / span 12;
      background-color: #f3f4f6;
      border-radius: 0.5rem;
      border: 1px solid #d1d5db;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;

      @media (min-width: 1024px) {
        grid-column: span 6 / span 6;
      }

      & + .journeyCard {
        margin-top: 1.5rem;

        @media (min-width: 1024px) {
          margin-top: 0;
        }
      }

      .cardHeader {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #e5e7eb;

        .icon {
          background-color: #fb923c;
          color: #fff;
          width: 4rem;
          height: 4rem;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }

        h2 {
          font-size: 1.875rem;
        }
      }

      .cardBody {
        padding-top: 1rem;

        .experienceItem {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 1rem;

          h2 {
            font-size: 1.25rem;
            font-weight: 500;
          }

          p {
            font-size: 0.875rem;
            color: #6b7280;
          }

          .dateBadge {
            background-color: #fb923c;
            color: #fff;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}



.imagesertif{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.adopted{
  font-size: 44px;
  margin-top: 30px;
  text-align: center;
}

  
  