// ContactSection.module.scss
.contactSection {
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    max-height: 800px;
    
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
    }
  }
  
  .contentColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    padding: 0px 40px;
  margin-left: -50px;
  }
  
  .title {
    font-size: 42px;
    font-weight: 700;
    color: #1f2937;
    margin: 0 0 16px 0;
  }
  
  .subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #4b5563;
    margin: 0 0 16px 0;
  }
  
  .description {
    font-size: 16px;
    line-height: 1.6;
    color: #6b7280;
    margin: 0;
  }
  
  .formColumn {
    flex: 1;
    background-color: #ffffff;
    border-radius: 42px;
    border: 2px solid #07a241 ;
  
    padding: 32px;
    z-index: 1;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .label {
    font-size: 14px;
    font-weight: 500;
    color: #4b5563;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #07a241;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.2s, box-shadow 0.2s;
    
    &:focus {
      outline: none;
      border-color: #07a241;
      box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
    }
    
    &::placeholder {
      color: #9ca3af;
    }
  }
  
  .inputError {
    border-color: #ef4444;
    
    &:focus {
      box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.1);
    }
  }
  
  .textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .errorMessage {
    font-size: 12px;
    color: #ef4444;
    margin-top: 2px;
  }
  
  .submitButton {
    margin-top: 10px;
    background-color: #07a241;
    color: #ffffff;
    border: 2px solid #07a241;
    border-radius: 18px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
  
    
    &:hover {
      background-color: #ffffff;
      color: black;
      border: 2px solid #07a241;
    }
    
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3);
    }
  }
  .imagesback{
    position: absolute;
    left: -20%;
   margin-top: -150px;
   opacity: 0.4;
   
  }
  .imagesbacks{
    position: absolute;
    left: 70%;
  
   opacity: 0.4;
   
  }
  .imagesbackes{
    position: absolute;
    left: -25%;
   margin-top: -250px;

   
  }






  @media (max-width: 768px) {
    .imagesback{
      display: none;
     
    }
    .imagesbacks{
      display: none;
     
    }
    .imagesbackes{
     display: none;
  
     
    }
  }

  