@import "/public/css/variables.module.scss";

.addToCartButton{
  padding: 14px 40px;
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  background-color: rgb(31, 31, 31);
  margin-left: 2px;
  flex-wrap: wrap;
}

.addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  margin-left: 40px;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 12px 50px;
  background-color: #fc4335;
  border-radius: 8px;
  color: white;
  transition: all 0.3s;
  > svg {
    fill: white;
  }
  &:hover {
    background-color: #ff5d52;
  }
  &:active {
    background-color: #dc4e44;
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      background-color: #fc4335;
    }
  }
}

@media (max-width: 480px) {
  .addToCartButton{
    padding: 14px 40px;
    width: 300px;
    border: 1px solid black;
    border-radius: 12px;
    color: white;
    background-color: rgb(31, 31, 31);
    margin-left: -12px;
    flex-wrap: wrap;
  }

  .addToCart {
    width: 100%;
    gap: 10px;
    font-size: 1.4rem;
    padding: 12px 20px;
  }
}

@media (max-width: 320px) {
  .addToCart {
    margin: 24px 0;
  }
}
