@import "/public/css/variables.module.scss";

.collectionCard {
  width: 424px;
  height: 250px;
  display: flex;
  position: relative;
  border-radius: 12px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
  .leftCol {
    flex-grow: 2;
    margin-left: 30px;
    h2 {
      font-size: 1.6rem;
      color: nth($color-light, 10);
      margin: 28px 0 12px;
      font-weight: 500;
    }
    p {
      display: block;
      position: relative;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: nth($color-light, 8);
      width: 50%;
      z-index: 2;
      &:hover {
        font-weight: 500;
        color: nth($color-light, 10);
      }
    }
  }

  .imageWrapper {
    position: absolute;
    top: 8px;
    right: 14px;
   width: 150px;
    height: 150px;
    z-index: 1;
    img {
      object-fit: cover;
    }
  }
  > a {
    width: auto;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding-right: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    color: nth($color-light, 8);
    background-image: url("/images/icons/arrowIcon01.svg");
    background-repeat: no-repeat;
    background-position: right center;
    &:hover {
      font-weight: 500;
      color: nth($color-light, 10);
    }
  }
}
.wrapper{
  // position: fixed;
  // top: 50%;
  // left: 50%;
  transform: translate(-50%, -50%);
}

.linkwrapper{
  position: relative;
  left: 55%;
}

.linkwrapper a{
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #edd927;
  transition: all .35s;
}

.linkwrapper a:hover{
  width: 150px;
  border: 3px solid #edd927;
  background: transparent;
  color: #edd927;
}

.linkwrapper a:hover + .icon{
  border: 3px solid #edd927;
  right: 5%;
}