// @import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
  min-height: 100vh;
  margin: 0;
  z-index: 9;
//   font-family: 'Poppins', sans-serif;
  color: #1e1e1e;
//   background-color: #cdcdcd;
  background-image:
    repeating-linear-gradient(
      to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
      to bottom, transparent 0 150px, #0001 150px 151px
    ),
    // linear-gradient(to right, #cdcdcdcc, #cdcdcdcc),
    // url('/images/images/bg.jpg');

}

.header {
  width: min(1200px, 90vw);
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  height: 0;
  flex-wrap: wrap;
}

.h1 {
  font-family: 'Karantina', system-ui;
  font-size: 16vw;
  line-height: 0.8em;
}

.author {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.h3 {
  font-family: 'Karantina', system-ui;
  font-size: 5vw;
}

.author div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author div p:nth-child(2) {
  font-weight: 500;
}

.author img {
  width: 250px;
}

.banner {
  margin-top: -50px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.product {
  position: absolute;
  left: 53%;
  transform: translateX(-50%);
  bottom: 150px;
  z-index: 2;
  width: 500px;
  transition: 0.7s;
}

.soda {
  --left: 50%;
  background: var(--url) var(--left),
    url('/images/images/cans.png') 0 0;
  background-size: auto 100%;
  width: 400px;
  aspect-ratio: 3 / 4;
  background-blend-mode: multiply;
  transition: 0.8s;
  mask-image: url('/images/images/cans.png');
  mask-size: auto 100%;
}

.soda:nth-child(2) {
  opacity: 0;
}

.product:hover {
  bottom: 200px;
}

.product:hover .soda:nth-child(2) {
  opacity: 1;
  --left: 500px;
}

.product:hover .soda:nth-child(1) {
  opacity: 1;
  --left: 540px;
}

.rock {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  pointer-events: none;
}

.rock img:nth-child(1) {
  position: absolute;
  height: 170px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  transition: 0.7s;
  z-index: 1;
}

.rock img:nth-child(2) {
  position: absolute;
  height: 50%;
  left: 0;
  bottom: 0;
  transition: 0.7s;
}

.rock img:nth-child(3) {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: -100px;
  rotate: -25deg;
  transition: 0.7s;
}

.banner:has(.product:hover) .rock img:nth-child(1) {
  transform: translateX(-50%) translateY(50px);
}

.banner:has(.product:hover) .rock img:nth-child(2) {
  transform: translateX(-100px) translateY(100px);
}

.banner:has(.product:hover) .rock img:nth-child(3) {
  transform: translateX(100px) translateY(100px);
}

@media screen and (max-width: 1023px) {
  .soda {
    width: 400px;
  }
}

@media screen and (max-width: 767px) {
  .soda {
margin-left: 25%;
    width: 250px;

  }

  .author img {
    display: none;
  }

  .author {
    width: 100%;
  }
}
